@media only screen and (max-width: 700px) {
  html {
    font-size: 80%;
  }

  .layout-container{
    display: flex;
    flex-direction: column;
    min-height: 72vh;
  }

  .layout-sub-container{
    display: flex;
    flex-direction: column-reverse;
  }
  .layout-sub-container lottie-player{
    max-width: 300px;
  }

  /* blockchain-container */
  .blockchain-container {
    gap: 0;
    font-size: 12px;
  }
  .m-2 {
    margin: 0;
  }

  /* stock-reports-conatiner */
  .stock-reports-conatiner img {
    max-width: 60%;
  }
  .report-btn {
    display: flex;
    flex-direction: column;
  }
  .report-btn button {
    font-size: 10px;
    padding: 0;
  }

  .FAQ-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: space-between;
  }
  .FAQ-container div{
    margin-top: 1rem;
  }

  /* option-block */
  .option-block span{
    margin: 0;
  }
/* news-container */
.news-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .report-btn button:nth-child(1) {
    padding: 5px 10px;
  }
  .report-btn button:nth-child(2) {
    padding: 5px 10px;
  }
  .nav-list-items {
    display: none;
  }
/* portfolio-container */
.portfolio-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 60vh;
}
.portfolio-btn{
  margin: 0.5em;
}
  .news-container-single-block {
    max-width: 100%;
  }
  .news-container-single-block img {
    max-width: 100%;
  }

  /* join-hands-container */
  .join-hands-container{
    max-width: 80%;
  }
  /* footer */
  .footer-container{
    display: flex;
    flex-direction: column;
  }
}
