:root {
  --primary-clr: #15306f;
  --text-clr: #ffffff;
  --secondary-clr: #2d83ee;
}
* {
  box-sizing: border-box;
}

/* utils */
.center-container {
  max-width: 70%;
  margin: auto;
}
.heading-primary-clr {
  color: var(--secondary-clr);
}
.layout-container {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  color: var(--text-clr);
  mix-blend-mode: multiply;
  opacity: 0.8;
  min-height: 100vh;
  background: #15306f 0% 0% no-repeat padding-box;
}
.nav-list-items {
}
.nav-content {
  max-width: 80%;
  margin: auto;
}
.componay-image-container {
  width: 20%;
}
.header-options {
  width: 80%;
}
.header-options button {
  background: transparent url("./images/rectangleBg.svg") 0% 0% no-repeat
    padding-box;
  box-shadow: 5px 8px 10px #00000029;
  border-radius: 10px;
  padding: 0 2rem;
  background-position: center;
  border: none;
  color: var(--text-clr);
}

.layout-slogans h4 {
  font-weight: 400;
  padding: 0.2rem;
}
.heading-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
.req-btn {
  background-image: url("./images/btn-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  opacity: 1;
  box-shadow: 5px 8px 10px #00000029;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border: none;
  background-size: 10rem;
  object-fit: fit-content;
  background-size: auto;
  color: var(--text-clr);
}
.exp-btn {
  background: #132d6b 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  opacity: 1;
  border: 1px solid var(--primary-clr);
  color: var(--text-clr);
}
.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.des-details {
  display: flex;
  flex-direction: r;
}
/* client page (page-2) */
#cl-head {
  color: var(--primary-clr);
}
.client-detail-container {
  max-width: 80%;
  margin: auto;
  align-items: flex-start;
}

/* web secure block */
.sec-grp-img {
  max-width: 80%;
  margin: auto;
}

/* portfolio-block */
.portfolio-container {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  min-height: 100vh;
  background: #15306f 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  opacity: 0.8;
  color: var(--text-clr);
}
.portfolio-btn {
  box-shadow: 3px 3px 6px #00000029;
  border-radius: 15px;
  opacity: 1;
  border: none;
  padding: 0.5rem;
}
.portfolio-btn:nth-child(1) {
  background: #2d83ee 0% 0% no-repeat padding-box;
}
.portfolio-btn-container {
  min-width: 30%;
}
/* reports block */
.report-btn button {
  background-color: transparent;
  border: 1px solid #ffffff4b;
  color: var(--text-clr);
  border-radius: 5px;
  margin: 0.5rem;
  font-size: 14px;
}
.report-btn button:nth-child(1) {
  padding: 0.5rem 1.8rem;
}
.report-btn button:nth-child(2) {
  padding: 0.5rem 2rem;
}
.stock-reports-conatiner img {
  max-width: 70%;
}
.report-down-btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid #ffffff4b;
  border-radius: 6px;
  opacity: 1;
  background-color: transparent;
  color: var(--text-clr);
}

/* As mentioned features */
.featured-options-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.features-logo {
  max-width: 70%;
}
.feat-block {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 15px #00000029;
  border: 1px solid #2d83ee;
  border-radius: 15px;
  opacity: 1;
  margin: 2rem;
}
.feat-block button{
  color: var(--secondary-clr);
  background-color: transparent;
  border: none;
  font-weight: 600;
}
@media only screen and (max-width: 700px) {
  html {
    font-size: 80%;
  }
  .nav-list-items {
    display: none;
    /* background-color: lightblue; */
  }
}
